/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: _____;
    background-color: ______;
}

/* CONTAINER */
#container {
    width: 90%;
    max-width: 900px;
    margin: 20px auto;
}

/* TOPO */
#topo {
    text-align: center;
    margin-bottom: 20px;
}

/* CARD */
.card {
    background-color: white;

    /* COMPLETAR */
    padding: 2rem;
    margin-bottom: ______;
    border-radius: ______;
    background-color: _____;
}

/* PERFIL */
#perfil {
    display: flex;

    /* COMPLETAR */
    gap: ___;
    align-items: ___;
}

/* FOTO */
#foto-atleta {
    width: ____;
    height: ____;
    border-radius: ____;
}

/* NOME */
.nome-atleta {
    font-size: ___;
}

/* DESTAQUE */
.destaque {
    color: ___;
    font-weight: ___;
}

/* BOTÃO */
.botao {
    display: inline-block;
    background-color: ___;
    color: ___;
    padding: ___;
    text-decoration: none;
    border-radius: ___;
}

/* HABILIDADES */
.habilidade {
    background-color: ___;
    padding: ___;
    margin-bottom: ___;
}
